	body{
	background: black; 
	padding: 0px;
}

.name-of{
	padding: 0px;}

.name-of div{
	padding: 0px;
	margin-left: 20%; 
	height: 25px;
	width: 37.5%;
	background-color: white;
	opacity: 0.7;
	border: 1px solid black;
}

.photo-of{
	padding: 0px;
	height: 225px;
}

.stat-of{
	padding: 0px;
	height: 225px;
}

.switch{
	position: absolute;
	bottom: 0px;
	height: 25px;
	width: 100%;
}

.button{
	background-color: white;
	border-right: 1px solid black;
	border-top: 1px solid black;
	opacity: 0.7;
	display: block;
	float: right;
	width: 25%;
	text-align: center;
}

.button:hover{
	background-color: white;
	opacity: 0.9;
}

.list{
	padding: 0px;
	height: 100%;
}

.switch-period{
	padding: 0px;
	position: absolute;
	left: 0px;
	top: 0px;
	height: 200px;
	width: 12.5%;
}

.switch-button{
	background-color: white;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	opacity: 0.7;
	padding-top: 20%;	 
	display: block;
	height: 33.33333%;
	width: 100%;
	text-align: center;
}

.switch-button:hover{
	background-color: white;
	opacity: 0.9;
}

.photo{
	height: 200px;
	width: 100%;
}

.parametr-ph{
	height: 200px;
	width: 100%;
}

.graphics{
	background-color: white;
	opacity: 0.7;
	width: 87.5%;
	height: 200px;
	position: absolute;
	right:  0px;
}

.link-decor:hover{
	text-decoration: none;
}


