<div class="sign_in">
  <%cookies[:page] = "Sign in"%>
  <div class="sign_in_name"><h2 class="margine_header">Вход</h2></div>
  <div class="sign_in_form">
    <%= form_for(:session, url: sessions_path) do |f| %>

        <%= f.label :email %>
        <%= f.text_field :email, placeholder:"example@example.com", class:"form-control"  %>

        <br><%= f.label :Пароль %>
        <%= f.password_field :password, placeholder:"123456", class:"form-control"  %><br>

        <%= f.submit "Вход", class: "btn btn-large btn-primary" %>

    <% end %>
  </div>


  <div class="sign_up_link"><%= link_to "Зарегистрироваться!", '/signup' %></div>
  </div>

