<%cookies[:page] = "Settings"%>
<div class="pers_page_edit">

  <div class="edit_form">
  <h2>Изменить персональные данные</h2><br>
    <%= form_for(@worker) do |f| %>
        <%= render 'shared/error_messages' %>

        <%= f.label :Имя %>
        <%= f.text_field :name, class: 'test_class form-control', placeholder:"Введите новое имя" %>

        <%= f.label :email %>
        <%= f.text_field :email, class: 'test_class form-control', placeholder:"Введите новый email"  %>

        <%= f.label :Пароль %>
        <%= f.password_field :password, class: 'test_class form-control', placeholder:"Введите Ваш пароль для подтверждения"  %>

        <br><br><%= f.submit "Сохранить изменения", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>

  <div class="pers_data">

    <div class="pers_photo">
      <p id="id1"><%= gravatar_for @worker %></p>
    </div>

          <p id="notice"><%= notice %></p>

      <div class = " admin_inf">
          <strong>Должность:</strong>
          <%= "Администратор"%>
        <br>
          <strong>Имя:</strong>
          <%= @worker.name %>
        <br>
          <strong>Email:</strong>
          <%= @worker.email %>
        <br>
          <strong>Возраст:</strong>
          <%= @worker.age %>
        <br>
          <strong>Телефон:</strong>
          <%= @worker.phone %>
        <br>
          <strong>Отдел:</strong>

          <%= @worker.departament_id %>
        </div>
  </div>
</div>

