<%cookies[:page] = "Timetable"%>
<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: auto;
    margin: auto;

  }

  td, th {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
  }
  </style>

  <div class="admin_select">

      

      <%if !@timetable.nil?%>
        <%= form_for(@timetable) do |f| %>
          <table class="table_workers">
            <tr class="table_head">
              <th width="20px"></th>
              <th id="admin_tt">ПН<br><%=(Time.now.beginning_of_week+7.day).to_date%></th>
              <th id="admin_tt">ВТ<br><%=(Time.now.beginning_of_week+8.day).to_date%></th>
              <th id="admin_tt">СР<br><%=(Time.now.beginning_of_week+9.day).to_date%></th>
              <th id="admin_tt">ЧТ<br><%=(Time.now.beginning_of_week+10.day).to_date%></th>
              <th id="admin_tt">ПТ<br><%=(Time.now.beginning_of_week+11.day).to_date%></th>
              <th id="admin_tt">СБ<br><%=(Time.now.beginning_of_week+12.day).to_date%></th>
              <th id="admin_tt">ВС<br><%=(Time.now.beginning_of_week+13.day).to_date%></th>
            </tr>
            <tr>
              <% days0 = [:Monday0, :Tuesday0, :Wednesday0, :Thursday0, :Friday0, :Saturday0, :Sunday0]%>
              <% days1 = [:Monday1, :Tuesday1, :Wednesday1, :Thursday1, :Friday1, :Saturday1, :Sunday1]%>

              <th id="admin_tt_h" class="table_head">10:00-15:00</th>

              <% days0.each do |day|%>
                <th>
                  <%=select_tag day,
                                options_from_collection_for_select(Bucket.where("part_of_day = 'f' and day = '#{day[0..(day.length-2)]}' and buckets.departament_id = '#{ current_worker.departament_id}' and buckets.created_at > '#{Time.now.beginning_of_week}'").joins(:worker).map{ |b| b.worker }, :email, :name, Bucket.where("part_of_day = 'f' and day = '#{day[0..(day.length-2)]}' and buckets.departament_id = '#{ current_worker.departament_id}' and is_chosen_on_current_week = 't' and buckets.created_at > '#{Time.now.beginning_of_week}'").joins(:worker).map{ |b| b.worker.email })%>
                </th>
              <% end %>
            </tr>
            <tr>
              <th id="admin_tt_h" class="table_head">15:00-20:00</th>
              <% days1.each do |day|%>
                  <th>
                    <%=select_tag day,
                                  options_from_collection_for_select(Bucket.where("part_of_day = 't' and day = '#{day[0..(day.length-2)]}' and buckets.departament_id = '#{ current_worker.departament_id}' and buckets.created_at > '#{Time.now.beginning_of_week}'").joins(:worker).map{ |b| b.worker }, :email, :name, Bucket.where("part_of_day = 't' and day = '#{day[0..(day.length-2)]}' and buckets.departament_id = '#{ current_worker.departament_id}' and is_chosen_on_current_week = 't' and buckets.created_at > '#{Time.now.beginning_of_week}'").joins(:worker).map{ |b| b.worker.email })%>
                  </th>
              <% end %>
            </tr>
            </tr>
          </table>


              

            <br><%= f.submit  "Подтвердить", class: "btn btn-primary" %>
            <% end %>



          <%= form_for(@admin) do |a|%><br>
              <% if current_worker.departament.if_schedule_on_current_week_is_approve == true %>
                  <%= a.submit "Разблокировать", class: "btn btn-primary"%>
              <% else %>
                  <%= a.submit "Блокировать", class: "btn btn-primary"%>
              <% end %>
          <% end%>
      <% else %>
        <h1>No workers!</h1>
      <% end %>
</div>
