<div class="sign_in">

  <div class="pers_photo">
    <p id="id1"><%= gravatar_for @worker %></p>

  </div>

  <div class="pers_inf ">
    <strong>Должность:</strong> <%= "Администратор" %> <br>
    <strong>Имя:</strong> <%= @worker.name %> <br>
    <strong>Email:</strong> <%= @worker.email %><br>
    <strong>Возраст:</strong> <%= @worker.age %> <br>
    <strong>Телефон:</strong> <%= @worker.phone %> <br>
    <strong>Отдел:</strong> <%= @worker.departament.name %> <br>
  </div>

</div>


</div>