<%cookies[:page] = "Workers"%>
<p id="notice"><%= notice %></p>

<h1>Workers</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Age</th>
    <th>Phone</th>
    <th>Departament</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @workers.each do |worker| %>
      <tr>
        <td><%= worker.name %></td>
        <td><%= worker.email %></td>
        <td><%= worker.age %></td>
        <td><%= worker.phone %></td>
        <td><%= worker.departament.name %></td>
        <td><%= link_to 'Show', worker %></td>
        <td><%= link_to 'Destroy', worker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>