<p id="notice"><%= notice %></p>
<%cookies[:page] = "Admins"%>
<h1>Администраторы</h1>

<table class="s_table">
  <thead>
  <tr>
    <th>Имя</th>
    <th>Email</th>
    <th>Возраст</th>
    <th>Телефон</th>
    <th>Отдел</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @admins.each do |worker| %>
      <tr>
         <td><%= worker.name %></td>
         <td><%= worker.email %></td>
         <td><%= worker.age %></td>
         <td><%= worker.phone %></td>
         <td><%= worker.departament_id %></td>
         <td><%= link_to 'Показать', worker %></td>
         <td><%= link_to 'Удалить', worker, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
