
<%= form_for(@departament) do |f| %>

    <% if @departament.errors.any? %>

    <div id="error_explanation">
      <h2><%= pluralize(@departament.errors.count, "error") %> prohibited this departament from being saved:</h2>

      <ul>
      <% @departament.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
