<p id="notice"><%= notice %></p>
<%cookies[:page] = "Departament"%>
<h1>Отделы</h1>

<table class="s_dep_table">
  <thead>
    <tr>
      <th>Имя</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @departaments.each do |departament| %>
      <tr>
        <td><%= departament.name %></td>
        <td><%= link_to 'Показать', departament %></td>
        <td><%= link_to 'Редактировать', edit_departament_path(departament) %></td>
        <td><%= link_to 'Удалить', departament, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div id="link_new"><%= link_to 'Новый отдел', new_departament_path %></div>


