<%if find_bucket_on_current_week(@_worker_id, @_day, @_part_of_day, @_departament_id)%>

    <%#debugger%>

    <%#if Departament.find_by(id:@_departament_id).if_schedule_on_current_week_is_approve%>
        <% if find_bucket_on_current_week(@_worker_id, @_day,
                                          @_part_of_day, @_departament_id).is_chosen_on_current_week%>
            <div id="circle"></div>
        <%else%>
            <div id="circle_not_chosen_by_admin_on_current_week"></div>
        <%end%>
<%end%>
