<%if find_bucket_on_next_week(@_worker_id, @_day, @_part_of_day, @_departament_id)%>



    <%if Departament.find_by(id:@_departament_id).if_schedule_on_current_week_is_approve%>
        <% if find_bucket_on_next_week(@_worker_id, @_day, @_part_of_day, @_departament_id).
            is_chosen_on_current_week%>
            <div id="circle"></div>
        <%else%>
            <div id="circle_not_chosen_by_admin_on_current_week"></div>
        <%end%>
    <%else%>

        <div class="col-sm-12 checkbox_div">
                <div class="checkbox checkbox_div">
                    <label style="font-size: 2.5em" class="checkbox_lable">
                        <%= check_box_tag @_pseudonym_for_day, 1, true%>
                        <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                    </label>
                </div>        
        </div>
    <%end%>
<%else%>
    <%if Departament.find_by(id:@_departament_id).if_schedule_on_current_week_is_approve%>

    <%else%>
            <div class="col-sm-12 checkbox_div">
                <div class="checkbox checkbox_div">
                    <label style="font-size: 2.5em" class="checkbox_lable">
                        <%= check_box_tag @_pseudonym_for_day, 1, false%>
                        <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                    </label>
                </div>        
            </div>
    <%end%>
<%end%>
