
<%cookies[:page] = "My schedule"%>

<!--departament_id which wiil be viewing on 'My schedlude' page-->
<!--This is for posobility to set own schedule for current week in another departaments -->
<!--this could be chosen , for example, from dropdown list-->

<!--<p>There are <%=Bucket.all.count%> buckets </p>
<p>Current departament has arroved_status = <%=current_worker.departament.if_schedule_on_current_week_is_approve%></p>-->

  <div class="page_new_tt">

      <div class="new_tt">

      <% params[:departament_for_viewing_on_next_week]=current_worker.departament_id%>

          <%= form_for(@bucket) do |f| %>

          <!--<%=select_tag :departament_for_viewing_on_next_week,
                        options_for_select(Departament.all.collect{ |u| [u.name, u.id] })%>-->



          <h2 class="delMe">Расписание на следующую неделю (<%=Departament.find_by(id:params[:departament_for_viewing_on_next_week]).name%>)

          </h2>

          <%#if params[:departament_for_viewing_on_next_week]==current_worker.departament_id%>
              <!--<h3>Это Ваш отдел!</h3><br>-->
          <%#else%>
              <!--<h3>Это НЕ Ваш отдел!</h3><br>-->
          <%#end%>

          <div id="table_new">
          <table class="my_table">
        <tr class="table_head">

          <th width="40px" height="50px"></th>
          <th width="80px">ПН<br><%=(Time.now.beginning_of_week+7).to_date%></th>
          <th width="80px">ВТ<br><%=(Time.now.beginning_of_week+8.day).to_date%></th>
          <th width="80px">СР<br><%=(Time.now.beginning_of_week+9.day).to_date%></th>
          <th width="80px">ЧТ<br><%=(Time.now.beginning_of_week+10.day).to_date%></th>
          <th width="80px">ПТ<br><%=(Time.now.beginning_of_week+11.day).to_date%></th>
          <th width="80px">СБ<br><%=(Time.now.beginning_of_week+12.day).to_date%></th>
          <th width="80px">ВС<br><%=(Time.now.beginning_of_week+13.day).to_date%></th>

        </tr>

        <%mass_of_days=["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"]%>

        <tr>
          <th class="table_head" height="80px">10:00-15:00</th>
          <%mass_of_days.each do |day|%>
              <th>
                <%= viewing_status_of_shecdule_on_the_next_week(current_worker.id,day,false,
                                                               (day.downcase+"0").to_sym,
                                                               params[:departament_for_viewing_on_next_week])%>
              </th>
          <%end%>
        </tr>


        <tr>
          <th class="table_head" height="80px">15:00-20:00</th>
          <%mass_of_days.each do |day|%>
              <th>
                <%= viewing_status_of_shecdule_on_the_next_week(current_worker.id,day,true,
                                                                (day.downcase+"1").to_sym,
                                                                params[:departament_for_viewing_on_next_week])%>
              </th>
          <%end%>
        </tr>

      </table><br><br><br>
      </div>

            <%if !Departament.find_by(id:params[:departament_for_viewing_on_next_week]).if_schedule_on_current_week_is_approve%>
              <%= f.submit "Подтвердить", class: "btn btn-primary" %>
            <%else%>
              <h1>Уже утверждено администратором</h1>
            <%end%>
      <%end%>
    </div>

    <div></div> 
  </div>



