body {margin:0;}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav{
    background: rgba(0,0,0,0.5);
}

.list-menu-wrapper {
    display: flex;
    justify-content: space-between;
}
.list-menu{
    list-style: none;
    display: flex;
}

.list-menu-first {
/*    margin-left: 13px;*/
}

.list-menu > li > a{
    color: #fff;
    display: block;
    padding: 13px;
    text-decoration: none; 
}

.list-menu-first a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 13px;
}

.list-menu > li > a:hover, .list-menu-first a:hover{
  background: #000;
}

#btn-menu{
  display: none;
}
#btn-menu + label{
  display: none; 
  position: relative;
  color: #fff; 
  height: 20px;
  z-index: 1;
  cursor: pointer;
}
#btn-menu + label:before{
  content: '\f0c9';  
  display: inline-block;
  font-family:'FontAwesome';
  font-size: 22px;
}
#btn-menu:checked + label:before{
  content: '\f00d';
  color: #f00;
}

@media screen and (max-width: 700px) {
 
   #btn-menu + label{
      display: inline-block;
    }
  #btn-menu + label + .list-menu-wrapper{
      display: none;
  }
  #btn-menu:checked + label + .list-menu-wrapper{
    display: block;
}
    
  nav{
    padding:10.5px;
  }

    .list-menu-wrapper {
        flex-direction: column;    
    }
    .list-menu-first {
        margin: 0;
    }
    
    .list-menu {
        flex-direction: column;    
    }
    
    .spisok  {
        font-size: 15px;
        color:red;
    }
    
    
}
.content{
    min-width: 500px;
    height:10000px;
    background-color: black;
    background-image: url('background.jpg');
    background-size:100%;
    background-repeat:no-repeat;
    
}

th {
    font-size: 15px;
}

td {
    font-size : 30px;
}

td.hours{
    font-size: 15px;
}

th , td{
    color: white;
    border: 1px solid black;
/*    width: 100px;*/
}

table{
/*    border: 2px solid black;*/
    width: 80%;
    height:300px;
    text-align: center;
    margin:50px auto;    
    border-collapse: collapse;
    background: rgba(0, 0, 0, 0.6)
}

/*media*/


.spisok{
    
    color:white;
    border:none;
    display:block;
    height:100%;
    width:100%;
    background: rgba(0,0,0,0);
}
select {
    font-size: 30px;
}

option{
/*    font: 30px;*/
    background-color: black;
}

#logo{
    font-style: italic;
    font-weight: bold;
}

