<%cookies[:page] = "Sign up"%>
<div class="page_reg">
<h2>Регистрация</h2>
  <div class="col-md-6 col-md-offset-3">

    <%= form_for(@worker) do |f| %>
        <%= render 'shared/error_messages' %>

        <%= f.label :Имя%>
        <%= f.text_field :name, class: 'form-control',   placeholder:"Сёма", required:"", autofocus:"" %>

        <%= f.label :Статус %>
        <%= f.text_field :status, class: 'form-control', placeholder:"Worker" %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control', placeholder:"example@example.com", required:""  %>

        <%= f.label :Возраст %>
        <%= f.number_field :age, class: 'form-control', placeholder:"20", min:"10" , required:""  %>

        <%= f.label :departament_id, "Отдел" %>

        <%= f.collection_select(:departament_id, Departament.all, :id, :name, :prompt=>"Выберите") %>


        <%= f.label :Телефон %>
        <%= f.text_field :phone, class: 'form-control', placeholder:"+380991234567" , required:""  %>


        <%= f.label :Пароль %>
        <%= f.password_field :password,class: 'form-control', placeholder:"123456" , required:""  %><br><br>

        <%= f.submit "Создать аккаунт", class: "btn btn-primary" %><br><br>
    <%end%>

  </div>
</div>

