
<%cookies[:page] = "Settings"%>

<div class="pers_page_edit">

  <div class="edit_form">
    <%= form_for(@worker) do |f| %>
        <%= render 'shared/error_messages' %>

        <%= f.label :Имя %>
        <%= f.text_field :name, class: 'test_class form-control', placeholder:"Введите новое имя" %>

        <%= f.label :email %>
        <%= f.text_field :email, class: 'test_class form-control', placeholder:"Введите новый email"%>

        <%= f.label :Пароль %>
        <%= f.password_field :password, class: 'test_class form-control',placeholder:"Введите Ваш пароль для подтверждения", autofocus:""   %>

        <br><br><%= f.submit "Сохранить изменения", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>

  <div class="pers_data">

    <div class="pers_photo">
      <p id="id1"><%= gravatar_for @worker %></p>
    </div>

    <div class="pers_inf">
      <strong>Должность:</strong> <%= "Инструктор" %> <br>
      <strong>Имя:</strong> <%= @worker.name %> <br>
      <strong>Email:</strong> <%= @worker.email %><br>
      <strong>Возраст:</strong> <%= @worker.age%> <br>
      <strong>Телефон:</strong> <%= @worker.phone %> <br>
      <strong>Часы:</strong> <%= @worker.hours %> <br>
      <strong>Отдел:</strong> <%= @worker.departament.name %> <br>
    </div>

  </div>
</div>
