<p id="notice"><%= notice %></p>

<h1>Сотрудники отдела: <%= current_worker.departament.name%> </h1>
<%cookies[:page] = "Workers"%>
<table class="table_workers">
  <thead class="table_head">
    <tr>
      <th>Имя</th>
      <th>Email</th>
      <th>Возраст</th>
      <th>Статус</th>
      <th>Телефон</th>
      <th>Часы</th>
      <th>Отдел</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @workers.each do |worker| %>
      <tr>
        <% if worker.departament_id == current_worker.departament_id%>
          <td><%= worker.name %></td>
          <td><%= worker.email %></td>
          <td><%= worker.age %></td>
          <td><%= worker.status %></td>
          <td><%= worker.phone %></td>
          <td><%= worker.hours %></td>
          <td><%= worker.departament_id %></td>
          <td><%= link_to 'Показать', worker %></td>
          <td><%= link_to 'Удалить', worker, method: :delete, data: { confirm: "Delete #{worker.name}?" } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
