<%cookies[:page] = "Profile"%>

<div class="pers_page">

  <div class="pers_time_table">

    <div class="type_tt">
      <%params[:departament_for_viewing_on_current_week] = current_worker.departament_id%>


      <h2 class="delMe">Расписание на эту неделю (<%=Departament.find_by(id:params[:departament_for_viewing_on_current_week]).name%>)

      </h2>

      <%#if params[:departament_for_viewing_on_current_week]==current_worker.departament_id%>
          <!--<h3>(это Ваш отдел)</h3>-->
      <%#else%>
          <!--<h3>(Это не Ваш отдел)</h3>-->
      <%#end%>
    </div>

    <div class="current_tt">

      <table>
        <tr  class="table_head">
          <th width="6%"></th>
          <th width="13.5%">ПН<br><%=(Time.now.beginning_of_week).to_date%></th>
          <th width="13.5%">ВТ<br><%=(Time.now.beginning_of_week+1.day).to_date%></th>
          <th width="13.5%">СР<br><%=(Time.now.beginning_of_week+2.day).to_date%></th>
          <th width="13.5%">ЧТ<br><%=(Time.now.beginning_of_week+3.day).to_date%></th>
          <th width="13.5%">ПТ<br><%=(Time.now.beginning_of_week+4.day).to_date%></th>
          <th width="13.5%">СБ<br><%=(Time.now.beginning_of_week+5.day).to_date%></th>
          <th width="13%">ВС<br><%=(Time.now.beginning_of_week+6.day).to_date%></th>
        </tr>

        <%params[:departament_for_viewing_on_current_week] = current_worker.departament_id%>

        <%mass_of_days=["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"]%>

        <tr>
          <th  class="table_head">10:00-15:00</th>
          <%mass_of_days.each do |day|%>
              <th>
                <%= viewing_status_of_shecdule_on_current_week(current_worker.id,day,false,
                                                               (day.downcase+"0").to_sym,
                                                               params[:departament_for_viewing_on_current_week])%>
              </th>
          <%end%>
        </tr>

        <tr>
          <th  class="table_head">15:00-20:00</th>
          <%mass_of_days.each do |day|%>
              <th>
                <%= viewing_status_of_shecdule_on_current_week(current_worker.id,day,true,
                                                               (day.downcase+"1").to_sym,
                                                               params[:departament_for_viewing_on_current_week])%>
              </th>
          <%end%>
        </tr>

      </table>

    </div>

  </div>

  <div class="pers_data">

    <div class="pers_photo">
      <p id="id1"><%= gravatar_for @worker %></p>

    </div>

    <div class="pers_inf">
      <strong>Должность:</strong> <%= "Инструктор" %> <br>
      <strong>Имя:</strong> <%= @worker.name %> <br>
      <strong>Email:</strong> <%= @worker.email %><br>
      <strong>Возраст:</strong> <%= @worker.age %> <br>
      <strong>Телефон:</strong> <%= @worker.phone %> <br>
      <strong>Часы:</strong> <%= @worker.hours %> <br>
      <strong>Отдел:</strong> <%= @worker.departament.name %> <br>
    </div>

  </div>


</div>



