.pers_data_admin{
  background-color: #ffffff;
  //background-color: #E8E6FC;
  margin: 10px auto;
  border: 1px solid #C0BCEE;
  border-radius: 5px;
  width: calc(30% - 20px);
  height: calc(100% - 20px);
  position: relative;	
  min-width: 300px;
  min-height: 450px;
}

.admin_select{
	margin: 50px 10px auto 10px;
  padding: 20px;
	padding: 40px;
	text-align:center;
	width: auto;
	heidth:auto;
	border: 1px solid #C0BCEE;
	border-radius:5px;
  min-width: 700px;
}

.admin_inf{
  padding: 30px;
  font-size: 16px;
  line-height: 30px;
}

#admin_tt{
  width: 150px;
}

#admin_tt_h{
  height: 100px;
}

select{
  width: 100%;
}

.table_workers{
  border: 1px solid #9580DD;
}
