/*
 *= require_tree .
 *= require_self
*/

.testClass{
background-color: #9580DD;
}


body{margin:0px;}

.delMe{
    margin-down: 120px;
}

.down{
    margin-top: 100px;
}

.test_class{
    width: 300px;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

header {
    margin: 0px;
    padding: 0px;
    background-color: #C0BCEE;
    height: 40px;
    width: 100%;
    position: fixed;
    z-index: 1; 
    top:0px;
    left: 0px;
    min-width: 600px;
}

header div{
    padding: 0px;
    float: right;
    width: 100px;
    height: 100%;
    text-align: center;
}

header a:hover{
    background-color: #948FD8;
    text-decoration: none;
}

header a{
    display: block;
    height: 100%;
    padding: 10px;
}

#name{
    float: left;
    padding: 10px;
    font-size: 20px;
 }

.sign_in{
    margin: 50px auto 138px auto;
    width: 300px;
    height: 350px;
    border: 1px solid #C0BCEE;
    border-radius: 5px;
}

.sign_in_name{
    margin: 0px;    
    padding-top: 30px;
    width: 100%;
    height: 20%;
    border-radius: 5px;
    float: left;
}

.margine_header{
    text-align: center;
    margin: 0px;
}

.sign_in_form{
    padding: 40px;
    border-radius: 5px;
    float: left;
    width: 100%;
    height: 70%;
    text-align: center;
}


.sign_up_link{
    //border: 1px solid #C0BCEE;
    border-radius: 5px;
    padding: 5px;
    float: left;
    width: 100%;
    height: 10%;
    text-align: center;
}

.page_reg{
    width: 50%;
    height: auto; 
    border: 1px solid #C0BCEE;
    border-radius: 5px; 
    text-align: center;
    position: absolute;
    top: 60px;
    left: 25%;
    margin: auto auto 20px auto;
    min-width: 300px;

}


.checkbox label:after{
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr {
    position: relative;
    display: inline-block;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-top: 20px;
}

.checkbox .cr .cr-icon{
    position: absolute;
    font-size: 0.8em;
    line-height: 0;
    top: 52%;
    left: 20%;
}

.checkbox label input[type="checkbox"]{
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon{
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon{
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr{
    opacity: .5;
}

.checkbox_lable{
    display: block;  
}

.checkbox_div{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

.checkbox_div:hover{
    background-color: #D5D1DE;
}

.form-control{
    border: 1px solid #C0BCEE;
}

.form-control:hover{
    border: 2px solid #C0BCEE;
}

.form-control:focus{
    border: 3px solid #C0BCEE;
}


#worker_departament_id{
    background-color: #C0BCEE;
    width: 100%;
    height: 25px;
}