// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.delMe{
  margin-down: 120px;
}

.row {
  margin: 0 auto;
  width: 15%;
}