// Place all the styles related to the superadmins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.s_table{
	margin: auto;
	width: 70%;
}

.s_dep_table{
	margin: auto;
	width: 50%;
}

#link_new{
	text-align: center;
}

