#circle {
  margin: 0px; 
  width: 100%;
  height: 100%;
  background: olive;
}

#circle_not_chosen_by_admin_on_current_week {
  width: 100%;
  height: 100%;
  background: indianred;
}

.pers_page {
  margin-bottom:35px;
  background-color: #ffffff;
  position: absolute;
  top: 75px;
  width: 100%;
  height: calc(100% - 150px);
  min-width: 700px;
}

.pers_data{
  background-color: #ffffff;
  margin: 10px;
  border: 1px solid #C0BCEE;
  border-radius: 5px;
  width: calc(30% - 20px);
  height: calc(100% - 20px);
  position: relative;
  float:left;
  min-height:450px
}

.pers_time_table {
  background-color: #FFF;
  //background-color: #E8E6FC;
  margin: 10px;
  border: 1px solid #C0BCEE;
  border-radius: 5px;
  position: relative;
  width: calc(70% - 20px);
  height: calc(100% - 20px);
  float: left;
  min-height:450px;
}

.pers_photo {
  margin: 10px auto;
  border: 2px outset silver;
  position: relative;
  width: 150px;
  height: 150px;
}

.pers_inf {
  font-size: 16px; 
  line-height: 30px;
  margin: 10px;
  padding-top: 30px;
  padding-left: 30px;
  position: static;
  width: calc(100% - 20px);
  height: calc(100% - 190px);
  float: left;
  min-width:200px;
}

.current_tt {
  margin: 10px;
  position: relative;
  width: calc(100% - 20px);
  height: calc(70% - 20px);
  float: left;
}

.type_tt {
  text-align: center;
  margin: 10px;
  position: relative;
  width: calc(100% - 20px);
  float: left;
  height: calc(30% - 20px);
}

 table {
   border: 1px solid #9580DD;
   font-family: arial, sans-serif;
   border-collapse: collapse;
   border-radius: 20px;
   width: 100%;
   height: 100%;
 }

td, th {
  border: 1px solid #9580DD;
  text-align: center;
  padding: 0px;
  vertical-align: middle;
}

.pers_page_edit{
  background-color: #ffffff;
  position: absolute;
  top: 75px;
  width: 100%;
  height: calc(100% - 150px);
  min-height: 500px;
  min-width: 700px;
}

.edit_form{
  background-color: #FFF;
  margin: 10px;
  padding: 100px;
  border: 1px solid #C0BCEE;
  border-radius: 5px;
  position: relative;
  width: calc(70% - 20px);
  height: calc(100% - 20px);
  float: left;

}

.new_tt{
  background-color: white;
  margin: 10px auto;
  border: 1px solid #C0BCEE;
  border-radius: 5px;
  position: relative;
  width: calc(70% - 20px);
  height: calc(100% - 20px);
  position: relative;
  min-width: 640px;
}

.page_new_tt{
  padding: 10px;
  text-align: center;
  margin-bottom: 40px;
  width: 100%;
  height: 500px;
  position: static;
  float: left;

}

#table_new{
  margin:auto;
  width: 600px;
}

.table_workers{
  margin:auto;
  width: 90%;
}

.checkbox1{
  heidth: 100%;
  width: 100%;
}

.my_table{
  width: 600px;
  height:200px;
  border: 1px solid black;
  text-align: center;
  padding: 0px;
}

.table_head{
  background-color: #C0BCEE;
}
