body{
	background: black; 
}

div.cont{
	height: 150px;
	border: 1px solid black;
	background: white;
	opacity: 0.7;
}

div.field{
	background: black; 
}

div.photoBorder {
background-repeat     : no-repeat;
background-size       : cover;
background-position-x : 20%;
background-position-y : 20%;
}

div.name-of{
	height: 25px;
}

div.switch{
	height: 25px;
	padding: 0px 0px 0px 10px;
}

