<header>
  <div id="name"><strong>InstructorApp</strong></div>
  <% if signed_in? %>
      <div><%= link_to "Выход", signout_path, method: "delete"%></div>
      <% if cookies[:admin] == "false" && cookies[:superadmin] == "false"  %>
          <div <%if cookies[:page] == "My schedule"%> class = "testClass" <% end %> ><%= link_to "Расписание", '/bucket' %></div>
      <% end %>
      <% if cookies[:admin] == "true" %>
          <div <%if cookies[:page] == "Workers"%> class = "testClass" <% end %> ><%= link_to "Сотрудники", "/workers", type:"button"%></div>
          <div <%if cookies[:page] == "Timetable"%> class = "testClass" <% end %> ><%= link_to "Расписание", admins_path%></div>
      <% end %>
      <% if cookies[:admin] == "true" %>
          <div <%if cookies[:page] == "Settings"%> class = "testClass" <% end %> ><%= link_to "Профиль", edit_admin_path(current_worker) %></div>
      <% elsif  cookies[:admin] == "false" && cookies[:superadmin] == "false" %>
          <div <%if cookies[:page] == "Profile"%> class = "testClass" <% end %>><%= link_to "Профиль", current_worker %></div>
          <div <%if cookies[:page] == "Settings"%> class = "testClass" <% end %>><%= link_to "Настройки", edit_worker_path(current_worker) %></div>
      <% end %>
      <% if cookies[:superadmin] == "true" %>
          <div <%if cookies[:page] == "Departament"%> class = "testClass" <% end %> >
            <%= link_to "Отделы", '/departament'%>
          </div>
          <div <%if cookies[:page] == "Admins"%> class = "testClass" <% end %>>
            <%= link_to "Админы", superadmins_path%>
          </div>
      <% end %>
  <% else%>
      <div <%if cookies[:page] == "Sign up"%> class = "testClass" <% end %>><%= link_to "Регистрация", 'signup'%></div>
      <div <%if cookies[:page] == "Sign in"%> class = "testClass" <% end %>><%= link_to "Вход",'/', type:"button"%></div>
  <% end %>
</header>

