<!DOCTYPE html>
<html>


  <head>
  <title>Instructor App</title>
    
    <title><%=yield :title%></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div><%=render 'layouts/header'%>
      <script>
        $('body').show();
        $('.version').text(NProgress.version);
        NProgress.start();
        setTimeout(function() { NProgress.done(); $('.fade').removeClass('out'); }, 1000);
      </script>
    </div>
    <div class = "container down" >
      <% flash.each do |message_type, message| %>
        <div class = "alert alert-<%= message_type %>">
          <%= message %>
        </div>
      <% end %>
    </div>

    <%= yield %>
    
      
      
  

    <%#= debug(params) if Rails.env.development? %>
    
  </body>


</html>
